/.curseclient
/.mixin.out
/BotaniaVars.dat
/crash-reports
/downloads
/dumps
/emojiful
/local
/logs
/minecraftinstance.json
/openloader
/options.txt
/optionsof.txt
/optionsshaders.txt
/patchouli_data.json
/realms_persistence.json
/reauth.toml
/saves
/screenshots
/shaderpacks
/usercache.json
/usernamecache.json
/XaeroWaypoints
/XaeroWaypoints_BACKUP032021
/XaeroWaypoints_BACKUP062020
/XaeroWorldMap